.chat {
  width: 100%;
  max-width: 1000px;
  height: calc(100vh - 70px);
  position: sticky;
  right: 0;
  margin: 0 auto;
  // padding: 60px;
  .chat_content {
    width: 100%;
    // overflow: hidden;
    height: 90%;
    background-color: #fff;
    // border: 1px solid red;
    margin: 0 auto;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    bottom: 0;
  }
  .chat_actions {
    // height: 10%;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid red;
    input {
      width: 70%;
      height: 60px;
      padding: 5px;
      font-size: 1.4rem;
    }
    button {
      width: 30%;
      height: 60px;
      background-color: rgb(55, 194, 55);
      border: none;
      font-size: 1.4rem;
    }
  }
}
