.user_page {
  width: 100%;
  padding: 10px;
}

.user_page .user_content {
  max-width: 1000px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px auto;
}

.user_page .user_content .about_user {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.user_page .user_content .about_user .avatar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.user_page .user_content .about_user .avatar .user_photo {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.user_page .user_content .about_user .avatar .user_photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.user_page .user_content .about_user .avatar .user_name {
  font-size: 2rem;
  font-weight: 800;
}

.user_page .user_content .about_user .user_action {
  width: 50%;
}

.user_page .user_content .about_user .user_action .actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.user_page .user_content .about_user .user_action .actions .create_post-btn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  font-size: 1.3rem;
  font-weight: 700;
  color: blue;
  cursor: pointer;
  background-color: #fff;
}

.user_page .user_content .about_user .user_action .actions .settings {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(206, 245, 246, 0.4);
}

.user_page .user_content .about_user .user_action .actions .settings:hover .img {
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}

.user_page .user_content .about_user .user_action .actions .settings .img {
  width: 30px;
  height: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.user_page .user_content .user_menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_page .user_content .user_menu a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
}

.user_page .user_content .user_menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.user_page .user_content .user_menu a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.user_page .user_content .user_menu .active::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
}

.user_page .user_content .user_menu span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 1.2em;
}

.user_page .user_content .user_menu span:nth-child(1) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.user_page .user_content .user_menu span:nth-child(4) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/*# sourceMappingURL=UserPage.css.map */