.side_bar-left {
  width: 220px;
  position: absolute;
  left: 0;
  top: 70px;
  @media all and (max-width: 550px) {
    display: none;
  }
  .side_bar-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 10px;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
