.update_user {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  background-color: #fff;
  border-radius: 20px;
  // border-bottom-left-radius: 20px;
  // border-bottom-right-radius: 20px;
  padding: 20px;
  .change_users_photo {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    label {
      font-size: 1.4rem;
    }
    img {
      height: 100px;
    }
    input {
      display: none;
    }
  }
  .change_name {
    width: 200px;
    margin: 0 auto;
    input {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 1.2rem;
      border-radius: 10px;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  .save_updates {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    button {
      background-color: #fff;
      width: 50%;
      padding: 0 10px;
      font-size: 1.5rem;
      border: none;
      position: relative;
      &:hover::after {
        transform: scale(1);
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        transform: scale(0);
        background-color: black;
        transition: 222ms;
      }
    }
  }
}
