.saved {
  max-width: 1000px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin: 0 auto;
  // height: 1000px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
