.details {
  width: 100%;
  .details_content {
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: #fff;
    .details-flex {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      div {
        width: 100%;
        text-align: center;
      }
      img {
        max-width: 100%;
      }
    }
    .post_comments {
      .ab_user {
        cursor: pointer;
      }
      > span {
        width: 100%;
        display: flex;
        align-items: center;
        &:nth-child(1) {
          color: red;
          margin-top: 10px;
        }
        .user_avatar_comment {
          width: 40px;
          height: 40px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          border: 1px solid black;
          margin-right: 5px;
          img {
            width: 100%;
            border-radius: 5px;
            height: 100%;
          }
        }
      }
    }
  }
}
.post_author {
  text-align: center;
  display: flex;
  align-items: center;
  .user_avatar_comment {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-right: 5px;
    img {
      width: 100%;
      border-radius: 5px;
      height: 100%;
    }
  }
}
