.details {
  width: 100%;
  .details_content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: #fff;
    @media all and (max-width: 500px) {
      padding: 10px;
    }
    .details-flex {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .recom {
        width: 100%;
        .recom_title {
          display: block;
          font-size: 1.4rem;
          margin: 10px;
          font-weight: 600;
        }
        .same_posts {
          margin: 5px;
          font-size: 1.2rem;
          cursor: pointer;
          transition: 240ms;
          padding: 2px;
          border-radius: 6pxЛЩ;
          border: 1px solid rgba(0, 0, 0, 0.1);
          &:hover {
            color: rgba(0, 0, 0, 0.4);
          }
        }
      }
      .details_titl {
        @media all and (max-width: 500px) {
          font-size: 1rem;
        }
      }
      div {
        width: 100%;
        text-align: center;
      }
      img {
        max-width: 100%;
      }
    }
    .post_comments {
      .ab_user {
        cursor: pointer;
      }
      > span {
        width: 100%;
        display: flex;
        align-items: center;
        &:nth-child(1) {
          color: red;
          margin-top: 10px;
        }
        .user_avatar_comment {
          width: 40px;
          height: 40px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          border: 1px solid black;
          margin-right: 5px;
          img {
            width: 100%;
            border-radius: 5px;
            height: 100%;
          }
        }
      }
    }
  }
}
.post_author {
  text-align: center;
  display: flex;
  align-items: center;
  .user_avatar_comment {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-right: 5px;
    img {
      width: 100%;
      border-radius: 5px;
      height: 100%;
    }
  }
}
