.header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
}

.header_content {
  width: 100%;
  height: 70px;
  background-color: #123980;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_content .header-left {
  padding: 0 10px;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 430px) {
  .header_content .header-left {
    width: 80%;
  }
}

.header_content .header-left img {
  width: 170px;
}

.header_content .header-left .searche {
  width: 300px;
  color: #fff;
  position: relative;
}

.header_content .header-left .searche input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 1.2em;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.header_content .header-left .searche input:hover {
  background-color: #fff;
  color: black;
}

.header_content .burger-menu {
  height: 100%;
  width: 20%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 430px) {
  .header_content .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header_content .burger-menu .bg-menu {
  width: 50px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_content .burger-menu .bg-menu .menu-item {
  display: block;
  width: 99%;
  height: 3px;
  background-color: #fff;
}

.header_content .burger-menu .bg-menu .menu-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  width: 99%;
  height: 3px;
  background-color: #fff;
}

.header_content .burger-menu .bg-menu .menu-item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  width: 99%;
  height: 3px;
  background-color: #fff;
}

.header_content .header-right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

@media all and (max-width: 430px) {
  .header_content .header-right {
    display: none;
  }
}

.header_content .header-right .user_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 200px;
  gap: 10px;
}

.header_content .header-right .user_items span {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.header_content .header-right .user_items .header_avatar {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(248, 247, 247, 0.3);
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  gap: 10px;
}

.header_content .header-right .user_items .header_avatar img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
/*# sourceMappingURL=Header.css.map */