.Hero {
  // box-sizing: content-box;
  width: 100%;
  height: calc(100vh - 70px);
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  @media all and (max-width: 770px) {
    align-items: flex-end;
  }

  .hero_content {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    @media all and (max-width: 900px) {
      max-width: 500px;
      margin: 0 auto;
    }
    @media all and (max-width: 710px) {
      // justify-content: flex-end;
      // margin-right: 40px;
    }
    @media all and (max-width: 550px) {
      justify-content: center;
      margin: 0;
      width: 100%;
      gap: 10px;
    }
  }
}
