.create_post {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .create_post_form {
    width: 90%;
    height: 500px;
    // border: 20px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 20px;
    // overflow: hidden;
    // flex-direction: column;

    input {
      width: 100%;
      height: 50px;
      position: absolute;
      top: -50px;
      // border-radius: 20px;
      outline: none;
      padding: 20px;
      text-align: center;
      border: none;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      font-size: 1.2rem;
    }
    textarea {
      width: 100%;
      height: 100%;
      border: none;
      // border-radius: 20px;
      padding: 30px;
      text-align: left;
      outline: none;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .addPhoto {
      position: absolute;
      bottom: 4px;
      right: 4px;
      padding: 10px;
      font-size: 1.2rem;
      font-weight: 600;
      color: green;
      input {
        display: none;
      }
    }
  }
  .tags {
    width: 90%;
    // height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #fff;
    // border-radius: 20px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
  }
  button {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    // border-radius: 20px;
  }
}
