.reclam {
  width: 682px;
  // height: 500px;
  position: relative;
  overflow: hidden;
  color: rgb(8, 8, 8);
  box-shadow: 1px 1px 10px black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  //   justify-content: spa;
  align-items: center;
  gap: 40px;
  .reclam_title {
    font-size: 2.5rem;
  }
  .reclam_text {
    font-size: 1.6rem;
  }
  .reclam_image {
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    span {
      font-size: 1.3rem;
      cursor: pointer;
      display: block;
      box-sizing: content-box;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: black;
        transform: scale(0);
        bottom: 0;
        right: 0;
        left: 0;
        transform-origin: left;
        transition: 240ms;
      }
      &:hover::after {
        transform: scale(1);
        // transform-origin: right;
      }
    }
  }
}
